<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Shrikhand" rel="stylesheet">
  </head>
  <body>
    <h1 id='logo'> Songs </h1>
    <div class="songs-container">
      <% songs.each do |song| %>
      <ul id='song-boxes'>
        <img id='vinyl-image' src="vinyl.jpg" alt="Vinyl Photo by Adrian Korte"/>
        <div class="song-attributes">
        <li><%= song.title %></li>
        <li><%= song.length %> seconds</li>
        <li>Play Count: <%= song.play_count %></li>
      </div>
      </ul>
      <% end %>
    </div>
  </body>
</html>
